extends layout

block content
  h1
  a(href="./")= title

  form#deleteUrl(method="get",action="/delete")
    for v,i in list
      div
        p
          input(type="checkbox" id='#{i}' name="id",value="#{list[i].id}")
          label(for='#{i}')
            a(href="#{list[i].url}" target="_blank") #{list[i].title}
    input(type="submit",value="削除")

  div(class='row')
    div(class='col s6')
      form#addUrl(method="post",action="/")
        |title
        input(type="text",name="title")
        br
        |url
        input(type="url",name="url")
        input(type="submit")
    
      a#bookmarklet bookmarklet
      br
      textarea#bookmarkletText(size="100")
      script(src="./js/bookmarklet.js")
